{% extends 'base/includes/navbar.html' %}
{% load static %}

{% block navbar_content %}
    {% include 'base/includes/searchform.html' %}
{% endblock %}

{% block navbar_custom_links %}
    {% if request.user.is_authenticated %}
        <!-- User is logged -->
        <form method="post" action="{% url 'accounts:logout' %}">
            {% csrf_token %}
            <button class="nav-link btn btn-link" type="submit">Logout</button>
        </form>
        <a class="nav-link" href="{% url 'accounts:profile' request.user.id %}">Profile</a>
    {% else %}
        <!-- User is not logged -->
        <a class="nav-link" href="{% url 'accounts:login' %}">Login</a>
        <a class="nav-link" href="{% url 'accounts:signin' %}">Signin</a>
    {% endif %}
{% endblock %}