{% load static %}

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom shadow-sm">
    <div class="container-lg">
        <!-- Brand -->
        <a class="navbar-brand fw-bold" href="{% url 'core:home' %}">Graba</a>

        <!-- Toggle button for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            
            <!-- Navbar Content -->
            {% block navbar_content %}{% endblock %}

            <!-- Right Buttons -->
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                
                <!-- Custom Buttons -->
                {% block navbar_custom_links %}{% endblock %}

                <!-- Default Buttons -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'core:home' %}">Home</a>
                </li>

            </ul>
        </div>
    </div>
</nav>