<!-- Search Form -->
<form class="d-flex mx-auto w-100 justify-content-center" role="search" method="get" action="{% url 'core:home' %}"> <!-- url 'search' -->
    <div class="input-group w-75">
        <select class="form-select" name="c">
            <option value="">All</option>
            <option value="category1">Category-1</option>
            <option value="category2">Category-2</option>
            <option value="category3">Category-3</option>
            <!-- Insert the real categories -->
        </select>
        <input class="form-control" type="search" value="{{ request.GET.q }}" placeholder="Search auctions..." name="q" aria-label="Cerca">
        <button class="btn btn-outline-primary" type="submit">Search</button>
    </div>
</form>
