[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
django-jazzmin = "*"
django-extensions = "*"
django-channels = "*"
celery = "*"
redis = "*"
django-celery-beat = "*"
channels = "*"
daphne = "*"
pillow = "*"
channels-redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
