
textarea {
  width: 92%;
  height: 80px;
  resize: none;
  margin-left: 28px;
}


#bid-list li:hover {
    background-color: #f8f9fa;
}
#bid-list::-webkit-scrollbar {
    width: 6px;
}
#bid-list::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,0.2);
    border-radius: 3px;
}
