{% extends 'base/base.html' %}

{% block title %}Home | Graba{% endblock %}

{% block content %}
<div class="container-lg my-5">
    <div class="row justify-content-center">

        <!-- Middle column -->
        <div class="col-12 col-md-12 mb-4 mb-md-0">

            <!-- Middle card -->
            <div class="card shadow-sm p-4 h-100">
                <h4 class="mb-3">Middle column</h4>
                <p>Content of the middle column.</p>
            </div>

        </div>
        
    </div>
</div>
{% endblock %}

{% block extra_js %}
<style>
    [class*="col"] {
        padding: 1rem;
        background-color: #33b5e5;
        border: 2px solid #fff;
        color: #fff;
    }
</style>
{% endblock %}