/* COLOR PALETTE
    #FFFFFF  #F7F7F7  #B0BEC5  #455A64  #263238
   BONE BACKGROUND
    https://www.color-hex.com/color/e2dccd
*/

.bg-light-1-custom {
    background-color: #F7F7F7 !important;
}

.bg-light-2-custom {
    background-color: #F7F7F7 !important;
}

.bg-light-3-custom {
    background-color: #455A64 !important;
}

.bg-dark-1-custom {
    background-color: #455A64 !important;
}

.bg-dark-2-custom {
    background-color: #263238 !important;
}

/* CARD TITLE UNDERILINE
*/

.no-underline-on-hover {
    text-decoration: none; /* senza underline */
}

.no-underline-on-hover:hover {
    text-decoration: underline; /* underline solo su hover */
}

/* FAVORITE TOGGLE ICON
*/

.favorite-toggle {
    width: 34px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8); /* bianco semi-trasparente */
    backdrop-filter: blur(4px); /* effetto vetro carino */
    border: 1px solid #ddd;

    transition: background 0.2s, border 0.2s;
}

.favorite-toggle:hover {
    background: white;
    border-color: #bbb;
}

.favorite-toggle i {
    font-size: 18px;
}
