/* COLOR PALETTE
    #FFFFFF  #F7F7F7  #B0BEC5  #455A64  #263238
   BONE BACKGROUND
    https://www.color-hex.com/color/e2dccd
*/

.bg-light-1-custom {
    background-color: #F7F7F7 !important;
}

.bg-light-2-custom {
    background-color: #F7F7F7 !important;
}

.bg-light-3-custom {
    background-color: #455A64 !important;
}

.bg-dark-1-custom {
    background-color: #455A64 !important;
}

.bg-dark-2-custom {
    background-color: #263238 !important;
}