{% extends 'base/base_column.html' %}
{% load static %}

{% block navbar %} {% include 'accounts/includes/signin_navbar.html' %} {% endblock %}

{% block title %}Sign In | Graba{% endblock %}

{% block main_column %}
<div class="d-flex flex-column align-items-center gap-4 pt-5">

    <!-- FIRST SECTION -->
    <div class="card col-10 col-md-8 col-lg-6 col-xl-5 bg-white rounded shadow gap-4 py-4 px-4">
    
        <h2 class="text-center">Sign In</h2>

        <form method="post" class="d-flex flex-column gap-4" novalidate>
            {% csrf_token %}

            <!-- Non Field Errors -->
            {% if form.non_field_errors %}
                <div class="alert alert-danger list-icon list-icon-error mb-0">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}

            <!-- User Fields -->
            <div class="d-flex flex-column border rounded bg-light-subtle gap-3 p-3">
                
                <h5>Enter Account Info</h5>
                
                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.email.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.email }}
                    </div>
                </div>
                {% if form.email.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
                
                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.username.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.username }}
                    </div>
                </div>
                {% if form.username.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.username.errors }}
                    </div>
                {% endif %}

                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.bio.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.bio }}
                    </div>
                </div>
                {% if form.bio.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.bio.errors }}
                    </div>
                {% endif %}

                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.password1.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.password1 }}
                    </div>
                </div>
                {% if form.password1.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.password1.errors }}
                    </div>
                {% endif %}

                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.password2.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.password2 }}
                    </div>
                </div>
                {% if form.password2.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.password2.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- Legal Type -->
            <div class="d-flex flex-column border rounded bg-light-subtle gap-3 p-3">
                
                <h5>Select the legal type</h5>
    
                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.legal_type.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.legal_type }}
                    </div>
                </div>
                {% if form.legal_type.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.legal_type.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- Private User Fields -->
            <div id="private-fields" class="d-flex flex-column border rounded bg-light-subtle gap-3 p-3 d-none">
                
                <h5>Enter User Info</h5>
    
                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.first_name.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.first_name }}
                    </div>
                </div>
                {% if form.first_name.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.first_name.errors }}
                    </div>
                {% endif %}

                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.last_name.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.last_name }}
                    </div>
                </div>
                {% if form.last_name.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.last_name.errors }}
                    </div>
                {% endif %}

                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.fiscal_code.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.fiscal_code }}
                    </div>
                </div>
                {% if form.fiscal_code.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.fiscal_code.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- Shopkeeper Fields -->
            <div id="shopkeeper-fields" class="d-flex flex-column border rounded bg-light-subtle gap-3 p-3 d-none">
                
                <h5>Enter Shopkeeper Info</h5>
    
                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.business_name.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.business_name }}
                    </div>
                </div>
                {% if form.business_name.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.business_name.errors }}
                    </div>
                {% endif %}

                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.headquarters_address.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.headquarters_address }}
                    </div>
                </div>
                {% if form.headquarters_address.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.headquarters_address.errors }}
                    </div>
                {% endif %}

                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.iva_number.label_tag }}</label>
                    <div class="flex-grow-1">
                        {{ form.iva_number }}
                    </div>
                </div>
                {% if form.iva_number.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.iva_number.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- Roles -->
            <div class="d-flex flex-column border rounded bg-light-subtle gap-3 p-3">
                
                <h5>Select the Roles</h5>
    
                <div class="d-flex align-items-center">
                    <div class="flex-grow-1">
                        {{ form.role_types }}
                    </div>
                </div>
                {% if form.role_types.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.role_types.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- Buyer -->
            <div id="buyer-fields" class="d-flex flex-column border rounded bg-light-subtle gap-3 p-3 d-none">
                
                <h5>Enter Buyer Info</h5>
    
                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.shipping_address.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.shipping_address }}
                    </div>
                </div>
                {% if form.shipping_address.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.shipping_address.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- Seller -->
            <div id="seller-fields" class="d-flex flex-column border rounded bg-light-subtle gap-3 p-3 d-none">
                
                <h5>Enter Seller Info</h5>
    
                <div class="d-flex align-items-center">
                    <label class="me-3" style="width: 150px;">{{ form.collection_address.label }}</label>
                    <div class="flex-grow-1">
                        {{ form.collection_address }}
                    </div>
                </div>
                {% if form.collection_address.errors %}
                    <div class="alert alert-danger list-icon list-icon-error mb-0">
                        {{ form.collection_address.errors }}
                    </div>
                {% endif %}
            </div>

            <!-- Buttons -->
            <button type="submit" class="btn btn-primary w-100">
                Sign In Now
            </button>

        </form>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<!-- Common JS -->
<script src="{% static 'accounts/js/base.js' %}"></script>
{% endblock %}