{% extends 'base/base_column.html' %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
{% endblock %}

{% block navbar %} {% include 'core/includes/index_navbar.html' %} {% endblock %}

{% block title %}Graba | Home Page{% endblock %}

{% block main_column %}
<div class="d-flex flex-column justify-content-center gap-4 pt-4">

    <!-- FIRST SECTION -->
    <div class="card bg-white rounded shadow pt-4 px-4 w-100">

        <!-- Welcome Message -->
        <h2 class="mb-4 text-center">
            {% if request.user.is_authenticated %}
                Welcome {{ request.user.username }}!
            {% else %}
                Welcome Guest User!
            {% endif %}
        </h2>
    </div>

    <!-- SECOND SECTION -->
    <div class="card bg-white rounded shadow pt-4 px-4 w-100">
        {% if auctions %}

            <!-- Section title -->
            <h2 class="mb-4 text-left">Search Results</h2>

            <!-- Auctions -->
            <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
                {% for auction in auctions %}
                    <div class="col">
                        <div class="card h-100 shadow-sm">

                            <!-- CARD TOP -->
                            <div class="position-relative">

                                <!-- RESIZED IMAGE -->
                                {% if auction.image_url %}
                                    <img src="{{ auction.image_url }}" class="card-img-top"
                                        alt="{{ auction.title }}"
                                        style="width:100%; height:200px; object-fit:contain; background-color:#f8f9fa;">
                                {% else %}
                                    <img src="https://via.placeholder.com/400x250?text=No+Image" class="card-img-top" alt="No Image">
                                {% endif %}

                                <!-- BOOKMARK ICON -->
                                {% if request.user.is_authenticated %}
                                    <div class="favorite-toggle"
                                        data-auction="{{ auction.id }}"
                                        style="position:absolute; top:10px; right:10px; cursor:pointer;">
                                        
                                        {% if auction.id in user_favorites %}
                                            <i class="bi bi-bookmark-fill text-dark"></i>
                                        {% else %}
                                            <i class="bi bi-bookmark text-dark"></i>
                                        {% endif %}
                                    </div>
                                {% endif %}

                            </div>

                            <!-- CARD BODY -->
                            <div class="card-body">
                                <h5 class="card-title">{{ auction.title|truncatewords:10 }}</h5>
                                <p class="card-text">{{ auction.description|truncatewords:20 }}</p>
                            </div>

                            <!-- CARD FOOTER -->
                            <div class="card-footer bg-white border-0 py-2 px-3">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="d-flex flex-column">
                                        {% if auction.has_offers %}
                                            <span class="badge bg-warning mb-1">
                                                Current offer: € {{ auction.get_highest_offer_value|cents_to_price }}
                                            </span>
                                        {% else %}
                                            {% if auction.min_price_cents %}
                                                <span class="badge bg-primary mb-1">
                                                    Starting at: € {{ auction.min_price_cents|cents_to_price }}
                                                </span>
                                            {% endif %}
                                            {% if auction.buy_now_price_cents %}
                                                <span class="badge bg-success mb-1">
                                                    Buy-now: € {{ auction.buy_now_price_cents|cents_to_price }}
                                                </span>
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                    <a href="{% url 'core:home' %}" class="btn btn-sm btn-outline-primary">
                                        View
                                    </a> <!-- url 'core:auction_detail' auction.id -->
                                </div>
                            </div>

                        </div>
                    </div>
                {% endfor %}
            </div>


            <!-- Pagination -->
            <nav aria-label="Page navigation" class="mt-3">
                <ul class="pagination justify-content-center">

                    <!-- Previous -->
                    {% if page_obj.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?{% if querystring %}{{ querystring }}&{% endif %}page={{ page_obj.previous_page_number }}">Previous</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Previous</span></li>
                    {% endif %}
                    
                    <!-- Range -->
                    {% for num in page_obj.paginator.page_range %}
                        {% if page_obj.number == num %}
                            <!-- Shows the current page -->
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% elif num >= page_obj.number|add:'-2' and num <= page_obj.number|add:'2' %}
                            <!-- Shows only 2 pages before and after the current one -->
                            <li class="page-item">
                                <a class="page-link" href="?{% if querystring %}{{ querystring }}&{% endif %}page={{ num }}">{{ num }}</a>
                            </li>
                        {% elif num == 1 or num == page_obj.paginator.num_pages %}
                            <!-- Shows the first and last page -->
                            <li class="page-item">
                                <a class="page-link" href="?{% if querystring %}{{ querystring }}&{% endif %}page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    
                    <!-- Next -->
                    {% if page_obj.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?{% if querystring %}{{ querystring }}&{% endif %}page={{ page_obj.next_page_number }}">Next</a>
                        </li>
                    {% else %}
                        <li class="page-item disabled"><span class="page-link">Next</span></li>
                    {% endif %}
                </ul>
            </nav>

        {% else %}
            <p>No auctions found.</p>
        {% endif %}
    </div>

</div>
{% endblock %}

{% block extra_js %}
<script>
    /* Ajax call to toggle favorites */
    document.querySelectorAll('.favorite-toggle').forEach(btn => {
        btn.addEventListener('click', () => {
            const auctionId = btn.dataset.auction;

            fetch(`/favorites/${auctionId}/toggle/`)
                .then(response => response.json())
                .then(data => {
                    const icon = btn.querySelector('i');

                    if (data.favorite) {
                        icon.classList.remove('bi-bookmark');
                        icon.classList.add('bi-bookmark-fill');
                    } else {
                        icon.classList.remove('bi-bookmark-fill');
                        icon.classList.add('bi-bookmark');
                    }
                });
        });
    });
</script>
{% endblock %}