{% extends 'base/base_column.html' %}
{% load static %}
{% load custom_filters %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'core/css/base.css' %}">
{% endblock %}

{% block navbar %} {% include 'core/includes/index_navbar.html' %} {% endblock %}

{% block title %}Graba | Home Page{% endblock %}

{% block main_column %}
<div class="d-flex flex-column justify-content-center gap-4 pt-4">

    <!-- FIRST SECTION -->
    <div class="card bg-white rounded shadow pt-4 px-4 w-100">

        <!-- Welcome Message -->
        <h2 class="mb-4 text-center">
            {% if request.user.is_authenticated %}
                Welcome {{ request.user.username }}!
            {% else %}
                Welcome Guest User!
            {% endif %}
        </h2>
    </div>

    <!-- SECOND SECTION -->
    {% if auctions %}

        {% include "base/partials/auction_grid.html" with request=request page_obj=page_obj title="Profile Info" querystring=querystring user_favorites=user_favorites only %}
        
    {% else %}
        <div class="card bg-white rounded shadow pt-4 px-4 w-100">
            <p>No auctions found.</p>
        </div>
    {% endif %}

</div>
{% endblock %}